<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title style="display: none;">AddBatch</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>
<body>
<div class="flashmessage center-align-absolute center-text notVisible"></div>


<div id="jsModalInputContainer" class="modal no-display">
    <div class="modal__box center-align-absolute center-text box-radius">
    	<a class="btnCancel modal__box__btn-cancel" href="#main-page">Cancel</a>
        <i id="jsModalIcon" class="fa fa-5x">&#xf007</i>
        <input id="jsModalInput" class=" center-align" type="text" name="user" placeholder="Enter your name">
        <button class="jsModalBtnSave btn center-align box-radius">Save</button>
    </div>
</div>

<div id="jsModalDeleteContainer" class="modal no-display">
    <div class="modal__box center-align-absolute center-text box-radius">
    	<a class="btnCancel modal__box__btn-cancel" href="#main-page">Cancel</a>
        <i id="jsModalIcon" class="fa fa-5x fa-trash"></i>
        <p>Sure you want delete this batch?</p>
        <button class="jsModalBtnDelete btn btn--red center-align box-radius">Delete</button>
    </div>
</div>

<div id="jsModalSetServerContainer" class="modal no-display print">
    <div class="modal__box center-align-absolute center-text box-radius">
        <i id="jsModalIcon" class="fa fa-5x fa-server"></i>
        <p>Set the server IP address</p>
        <input id="jsModalInput" class="center-align" type="text" name="server-address" placeholder="http://serverip:port/">
        <button class="jsModalBtnSetServer btn center-align box-radius">Save</button>
    </div>
</div>


	
<div class="no-display modal modal--loading">
	<div id="jsModalLoading" class="modal__box modal__box--loading center-align-absolute center-text box-radius animated">
		<i class="fa fa-5x fa-cog fa-spin fa-fw"></i>
	  	<span>Loading...</span>
	</div>
</div>

<!-- MODAL SELECT TYPE AND TIME-->
<div id="batch-type-time" class="modal" v-if="showModal">
    <div class="modal__box center-align-absolute center-text box-radius">
    	<p class="big-text">Select the Batch Type</p>
        <button class="btn btn-batch-type btn--no-selected box-radius" @click="selectingBatchType($event, 'Warehouse')">Warehouse</button>
        <button class="btn btn-batch-type btn--no-selected box-radius" @click="selectingBatchType($event, 'WIP')">WIP</button>

        <p class="big-text">Select Arrival Time</p>
        <input class="center-align timepicker center-text box-radius" type="time" name="timepicker" v-model="arrivalTime">

        <p class="big-text">Select Arrival Date</p>
        <input class="center-align center-text box-radius" type="date" name="arrival-date" v-model="arrivalDate">
        
        <button @click="setBatchTypeTimeDate"  class="btn center-align box-radius">Save</button>
    </div>
</div>
<!-- MODAL SELECT TYPE AND TIME-->

<!-- MODAL SELECT PRINTER-->
<div class="modal modal-select-printer" v-if="showModal">
    <div class="modal__box center-align-absolute center-text box-radius can-scroll">
    	<p class="big-text">Select Printer</p>
    	<ul class="printer-list left-text">
    		<li v-for="printer in printerList"><i class="fa fa-print"></i> <a @click.prevent="printerSelected(printer.printerName)">{{ printer.printerName }}</a></li>
    	</ul>
        
        <!-- <button @click="setBatchTypeTimeDate"  class="btn center-align box-radius">Save</button> -->
    </div>
</div>
<!-- MODAL SELECT PRINTER-->

<header class="jsHideOnPrint">
	<img class="img-create-page" src="img/fenix-mfg-logo.png">

	<h2 class="header-app-title center-align-absolute center-text">AddBatch</h2>
	
	<!-- <ul class="navigation">
		<li><a class="btnCancel" href="#main-page">Cancel</a></li>
		<li><a href="#main-page">Home</a></li>
	</ul> -->

	<a class="toggle-nav" href="#"><i class="fa fa-2x fa-bars"></i></a>
	<nav class="header-menu no-display">
		<ul>
			<li><a class="btnCancel header-menu-btn" href="#main-page"><i class="fa fa-chevron-left"></i> Back</a></li>

			<li><a class="btnPrint btnPrint--disabled header-menu-btn" href="#"><i class="fa fa-print"></i> Print</a></li>

			<li><a class="btnOpenNewWindow header-menu-btn" href="#"><i class="fa fa-plus-square-o"></i> New window</a></li>

			<li><a class="btnDelete btnDelete--disabled header-menu-btn" href="#"><i class="fa fa-trash"></i> Delete batch</a></li>

			<li><a class="btnSetServerIp header-menu-btn" href="#"><i class="fa fa-server"></i> Set Server IP</a></li>

			<li><a class="btnUpdateStatistics header-menu-btn" href="#"><i class="fa fa-refresh"></i> Update Statistics</a></li>

			<li><a class="btnSelectPrinters header-menu-btn" href="#"><i class="fa fa-print"></i> Select Printer</a></li>
		</ul>
	</nav>
</header>

<div id="main-page" class="jsHideOnPrint center-text">
	<img class="no-display img-main-page center-align" src="img/fenix-mfg-logo.png">

	<h1 class="no-display">AddBatch</h1>
	<h2 class="no-display">Create a digital adding tape</h2>
	
	<div id="main-page__statistics">
		<div class="statistics__side statistics__side--right">
			<p class="big-text bold">BATCHES</p>
			<div id="added-box" class="inline-block center-text">
				<p class="bigger-text bold">{{ addedBatches }}</p>
				<span>Added</span>
			</div>
			
			<div id="modified-box" class="inline-block">
				<p>{{ modifiedBatches }}<span>Modified</span></p>
				<p>{{ modifiedBatchesTimes }}<span>Times Modified</span></p>
			</div>
		</div>
		<div class="statistics__middle">
			<p id="main-page__statistics__title" class="big-text">STATISTICS</p>
			
			<p class="big-text bold">{{ batchesTotal }}<span>Total</span></p>
			<p>#{{ lastBatchAdded }}<span>Last batch you added</span></p>
		</div>
		<div class="statistics__side statistics__side--left">
			<p class="big-text bold">TICKETS</p>
			<div id="modified-box" class="inline-block">
				<p>{{ modifiedTickets }}<span>Modified</span></p>
				<p>{{ modifiedTicketsTimes }}<span>Times Modified</span></p>
			</div>
			
			<div id="added-box" class="inline-block center-text">
				<p class="bigger-text bold">{{ addedTickets }}</p>
				<span>Added</span>
			</div>
		</div>
	</div>

	<div class="main-page__container">
		<input class="search-batch center-align box-radius" type="text" name="search" placeholder="000">

		<button id="btn-edit-batch" class="btn btn--blue center-align box-radius"><i class="fa">&#xf14b</i> View batch</button>


		<button id="btn-create-page" class="btn center-align box-radius"><i class="fa">&#xf0fe</i> Add new batch</button>
	</div>
</div>


<div id="create-page">
	<div class="container">
		<div class="left-col">
			<p id="jsTotal" class="stat-number">0</p>
			<span>Total</span>

			<p id="jsBatchNumber" class="stat-number">0</p>
			<span>Batch number</span>

			<p id="jsTickets" class="stat-number">0</p>
			<span>Tickets</span>


			<p id="jsTimesModified" class="stat-number">0</p>
      <span>Times modified</span>
		</div>


		<div id="right-col" class="right-col">
			<ul class="quantity-list"></ul>
		</div>
	</div>

	<button id="jsBtnSaveAndPrint" class="btn-save-print jsHideOnPrint btn center-align-absolute box-radius">Save and Print</button>
	<input data-type="number" class="jsHideOnPrint jsResetInput center-align-absolute box-radius" type="text" name="number-input" maxlength="15">


	<span class="added-by">Added by <input type="text" name="added-by"></span>

	
</div>

<script src="js/vue.js"></script>
<script src="js/jquery.js"></script>
<script src="js/jquery.number.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/numeral.js"></script>
<script src="js/lodash.js"></script>
<script src="js/vue-vm.js"></script>
<script src="app.js"></script>
</body>
</html>